@page "/Countries/Edit/{Id:int}"

@using BlazorApp2.Models
@using System.Text.Json.Nodes



<div class=" row">
    <div class=" col-lg-8">
        <h1 class=" mb-5">Edit Country</h1>

        @if (country == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class=" row mb-3">
                <label class=" col-md-4 col-form-label">Country ID</label>
                <div class=" col-md-8">
                    <input class=" form-control-plaintext" value=" @Id" readonly>
                </div>
            </div>
            <div class=" row mb-3">
                <label class=" col-md-4 col-form-label">Name</label>
                <div class=" col-md-8">
                    <input class=" form-control" @bind="CountryData.Name">
                    <span class=" text-danger">@Errors["Name"]?[0]</span>
                </div>
            </div>

            <div class=" row mb-3">
                <label class=" col-md-4 col-form-label">Code</label>
                <div class=" col-md-8">
                    <input class=" form-control" @bind="CountryData.Code">
                    <span class=" text-danger">@Errors["Code"]?[0]</span>
                </div>
            </div>


            <div class=" row">
                <div class=" offset-md-4 col-md-4 d-grid">
                    <button class=" btn btn-primary" @onclick="SaveCountry">Submit</button>
                </div>
                <div class=" col-md-4 d-grid">
                    <a class=" btn btn-outline-primary" href=" /Countries">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>

@inject HttpClient http
@inject NavigationManager navManager

@code {
    [Parameter]
    public int Id { set; get; }
    public Country? country = null;
    public CountryDto CountryData { set; get; } = new();
    public JsonNode Errors { set; get; } = new JsonObject();


    protected override async Task OnParametersSetAsync()
    {
        try
        {
            country = await http.GetFromJsonAsync<Country>("https://localhost:4000/api/Countries/" + Id);
            CountryData.Name = country?.Name ?? " ";
            CountryData.Code = country?.Code ?? " ";
        }
        catch (Exception ex)
        {
            Console.WriteLine("Exception : " + ex.Message);
        }
    }


    protected async Task SaveCountry()
    {
        var response = await http.PutAsJsonAsync("https://localhost:4000/api/Countries/" + Id, CountryData);
        if (response.IsSuccessStatusCode)
        {
            navManager.NavigateTo("Countries");
        }
        else
        {
            var strResponse = await response.Content.ReadAsStringAsync();
            try
            {
                var jsonResponse = JsonNode.Parse(strResponse);
                Errors = jsonResponse?["errors"] ?? new JsonObject();
            }
            catch (Exception ex)
            {

            }
        }
    }
}
